.input-container{
  margin-top: 25px;
  margin-bottom: 20px;
  position: relative;
}
.inputField {
  height: 35px;
  width: 357px;
  border: none;
  text-align: left;
  font-size: 24px;
  
  &:focus {
    outline: none;
  }


}
.search-button {
  margin-left: -50px;
  border: none;
  background-color: white;

  img {
    width: 25px;
    height: 20px;
    transition: transform 0.2s;
  }

  &:hover img {
    transform: scale(1.3);
    
  }
}