.main-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-gap: 20px; 
  justify-items: center; 
}
.totalBooks{
  display: flex;
  justify-content: center;
}
.error{
  display: flex;
  margin:30px auto;
  font-size: 35px;
}


.link-no-underline {
  text-decoration: none;
  color: inherit; 
}